.container {
	width: 1200px;
	margin: auto;
}

body {
	margin: 0;
	font-family: 'Lato', sans-serif;
	/* VARIABLES */
	--noir : #262626;
	--bleu : #12d1dd;
	--vert : #76be14;
	--blanc: #ffffff;
}

p {
	font-size: 1vw;
	font-weight: 400;
}

h1 {
	font-size: 4vw;
	color: var(--blanc);
	font-weight: 900;
	text-align: center;
}

h2 {
	font-size: 3vw;
	color: var(--blanc);
	font-weight: 900;
	text-align: center;
}

h3 {
	font-size: 2vw;
	color: var(--blanc);
	font-weight: 700;
	text-align: center;
}

.noir {
	background-color: var(--noir);
}