.container {
	width: 1200px;
	margin: auto;
}

body {
		/* VARIABLES */
	--noir : #262626;
	--bleu : #12d1dd;
	--vert : #76be14;
	--blanc: #ffffff;
	margin: 0;
	font-family: 'Lato', sans-serif;
	background-color: var(--noir);
}

p {
	font-size: 1vw;
	font-weight: 400;
}

h1 {
	font-size: 4vw;
	color: var(--blanc);
	font-weight: 900;
	text-align: center;
}

h2 {
	font-size: 3vw;
	color: var(--blanc);
	font-weight: 900;
	text-align: center;
}

h3 {
	font-size: 2vw;
	color: var(--blanc);
	font-weight: 700;
	text-align: center;
}

.colonnes {
	display: flex;
	justify-content: space-between;
}

.blanc {
	background-color: white;
}

.ancre {
	display: flex;
}

.image1 {
	background-image: url(../images/logement.png);
	height: 427px;
	width: 640px  
}

.image2 {
	background-image: url(../images/restauration.png);
	height: 427px;
	width: 640px
}

.image3 {
	background-image: url(../images/auberge.png);
	height: 427px;
	width: 640px;

}
.ancrebouton {
	background-color: var(--noir);
}

.texteblocB {
	position: relative;
	top: -3px;
	margin: 0;
	padding: 10px;
	background-color: var(--bleu);
	text-align: center;
}

.articlebloc:first-child{
	margin-left: 0;
}

.articlebloc:last-child{
	margin-right: 0;
}

.articlebloc {
	margin: 20px;
	justify-content: center;
}

.colfoot {
	display: flex;
}

.afsame {
	display: flex;
}